*{
    margin: 0;
    padding: 0;
    box-sizing: 0;
}
main{
    display: flex;
    height: 80vh;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 5vh;
}
.button{
    width: 80px;
}
h1{
    text-align: center;
    
}
footer{
    text-align: center;
}
body{
    background-color: brown;
}